.window-title {
    -fx-font-size: 25px;
    -fx-font-family: monospace Monospaced;
    -fx-min-height: 7ex;
}

#root {
    -fx-padding: 25px;
}

.menu {
    -fx-min-width: 200px;
    -fx-max-width: 350px;
}

.menu Button {
    -fx-min-height: 8ex;
}





/*
 *
 * Board
 *
 */

.player-marker {
    -fx-min-width: 20px;
}

.house-button, .stock {
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-padding: 20px;
    -fx-font-size: 20px;
}

.house-button {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: lightgray;
}

.house-button:hover {
    -fx-border-color: coral;
}

.house-button:disabled:hover {
    -fx-border-color: transparent;
}

.stock {
    -fx-background-color: lightblue;
    -fx-background-radius: 30% / 80%;
    -fx-min-width: 80px;
}


.picked {
    -fx-background-color: lightcoral;
}

.brightened {
    -fx-border-color: green;
}
